.header {
  display: flex;
  height: 65px;
  align-items: center;
}

.logo {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.homebutton {
  margin-left: 10px;
}
.home-btn {
  height: 48px;
  width: 48px;
  border: 0;
  border-radius: 50px;
  background-color: rgb(31, 31, 31);
  cursor: pointer;
}
.home-btn:hover {
  transform: scale(1.05);
}
.searchbox {
  padding-left: 10px;
  margin-right: 300px;
}
.search {
  width: 475px;
  height: 50px;
  border: 0;
  background-color: rgb(31, 31, 31);
  border-radius: 100px;
  padding-left: 10px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: medium;
  color: white;
}
.premium-btn {
  background-color: rgb(255, 255, 255);
  border: 0;
  height: 34px;
  width: 145px;
  border-radius: 100px;
  font-weight: bold;
  font-family: "DM Sans";
  cursor: pointer;
}
.premium-btn:hover {
  transform: scale(1.03);
}
.install {
  margin-left: 10px;
}
.install-btn {
  background-color: black;
  border: 0;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-family: "DM Sans";
  font-weight: bold;
  color: rgb(150, 150, 150);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 10px;
}
.install-btn:hover {
  color: white;
  transform: scale(1.03);
}
.bellicon-btn {
  background-color: black;
  color: rgb(150, 150, 150);
  border: 0;
  margin: 5px;
  cursor: pointer;
}
.bellicon-btn:hover {
  color: white;
  transform: scale(1.03);
}
.friend-btn {
  background-color: black;
  color: rgb(150, 150, 150);
  border: 0;
  cursor: pointer;
  margin-right: 10px;
}
.friend-btn:hover {
  color: white;
  transform: scale(1.03);
}
.profile-btn {
  border: 0;
  background-color: black;
  color: rgb(150, 150, 150);
  cursor: pointer;
}
.Your-Library {
  width: 420px;
  height: 485px;
  background-color: rgb(18, 18, 18);
  border-radius: 8px;
}
.YL-header {
  font-family: "DM Sans";
  color: white;
  display: flex;
  align-items: center;
}
.p1 {
  margin-left: 20px;
  padding-top: 10px;
  font-weight: bold;
  margin-right: 150px;
}
.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 31, 31);
  border: 0;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 36px;
  border-radius: 36px;
  gap: 6px;
  margin-right: 10px;
}
.add-btn:hover {
  background-color: rgb(40, 40, 40);
  transition: background-color 0.5s;
}
.zoom-btn {
  border: 0;
  background-color: rgb(18, 18, 18);
  color: rgb(150, 150, 150);
}
.zoom-btn:hover {
  color: white;
  transform: color 0.2s;
}
.playlists-btn {
  border: 0;
  font-family: "DM Sans";
  background-color: rgb(42, 42, 42);
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 100px;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}
.artists-btn {
  border: 0;
  background-color: rgb(42, 42, 42);
  color: white;
  padding: 8px;
  border: 0;
  font-family: "DM Sans";
  background-color: rgb(42, 42, 42);
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
}
.h2 {
  margin-top: 5px;
  margin-left: 15px;
}
.h3 {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.search2 {
  background-color: rgb(18, 18, 18);
  border: 0;
  color: rgb(150, 150, 150);
  padding-left: 12px;
  margin-right: 270px;
  cursor: pointer;
}
.right-h3 {
  margin-right: 5px;
  color: rgb(150, 150, 150);
  font-family: "DM Sans";
  font-size: small;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.right-h3:hover {
  color: white;
  transition: color 0.2s;
}
.tab-img {
  border-radius: 30px;
}
.tab {
  display: flex;
  height: 50px;
  width: 400px;
  margin-top: 5px;
  padding: 5px;
  cursor: pointer;
}

.tab:hover {
  background-color: rgb(31, 31, 31);
  border-radius: 5px;
}
.content {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}
.tab-r {
  margin-left: 15px;
  font-family: "DM Sans";
  font-weight: 550;
}
.tab-name {
  margin: 2px;
  color: white;
}
.tab-type {
  font-size: small;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  color: rgb(176, 176, 176);
  font-size: 15px;
}
.main-body{
  display: flex;
  gap: 8px;
}
.right-tab{
  width: 915px;
  height: 485px;
  background-color:rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.r-head{
  height: fit-content;
  width: fit-content;
  margin-top:15px ;
  margin-left: 40px;
  display: flex;
}
.all-btn{
  background-color: rgb(255, 255, 255);
  border: 0;
  width: 45px;
  padding: 8px;
  border-radius: 20px;
  font-family: "DM Sans";
  margin-right: 6px;
  cursor: pointer;
  font-weight: bold;
}
.music-btn{
  background-color: rgb(102, 102, 102);
  border: 0;
  width: 60px;
  padding: 8px;
  border-radius: 20px;
  color: white;
  font-family: "DM Sans";
  margin-right: 6px;
  cursor: pointer;
  font-weight: bold;
}
.podcast-btn{
  background-color: rgb(102, 102, 102);
  border: 0;
  width: 80px;
  padding:8px;
  border-radius: 20px;
  color: white;
  font-family: "DM Sans";
  cursor: pointer;
  font-weight: bold;
}

.r-musictab{
  width: 915px;
  height: 105px;
  display: flex;
  flex-wrap: wrap;
  margin-left:32px;
  margin-top: 20px;
  }
.musictab{
  width: 195px;
  height: 48px;
  background-color: rgb(51, 51, 51);
  border: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 8px ;
  margin-bottom: 8px ;
}
.musictab-cover{
  height: 48px;
  width: 48px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.music-p{
  font-family: "DM Sans";
  font-weight: bolder;
  color: white;
  font-size: 13px;
  margin-left: 8px;
}
.podcast-p{
  color: white;
  font-family: "DM Sans";
  font-weight: bold;
  font-size:25px;
  margin-left: 40px;
}